html{
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

#h1{
    color: black;
    text-align: center;
}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}